@font-face {
  font-family: AgencyFB;
  src: url(./font/AgencyFB.ttf);
}

@font-face {
  font-family: AgencyFBBold;
  src: url(./font/AGENCYB.TTF);
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;
  --background-color: #eee;
  --black-075: hsl(210, 8%, 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SMOOTHER SCROLLING*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "AgencyFB", sans-serif;
}

input,
textarea,
button,
a {
  font-family: "AgencyFB", sans-serif;
}

.grid-item {
  color: black;
}

.title {
  font-family: "AgencyFBBold";
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  font-size: 30px;
}

.desctitle {
  font-family: "AgencyFBBold";
  color: black;
  font-weight: bold;
  margin-right: 10px;
  font-size: 15px;
}

.logo {
  cursor: pointer;
  height: 48px;
  margin-right: 6px;
}

.descards {
  color: #999;
  cursor: pointer;
}

.desc {
  color: #999;
  margin-top: 15px;
}

.title2 {
  font-weight: bold;
  position: absolute;
  font-size: 45px;
  left: 5%;
  top: 0.5em;
  text-align: center; /* Center the text horizontally */
  white-space: nowrap; /* Prevent text from wrapping by default */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}

.footer-distributed {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 25px 50px;
}

.footer-distributed .footer-left p {
  color: lightblue;
  font-size: 14px;
  margin: 0;
  transition: 0.3s;
}

.credits {
  color: rgb(126, 120, 133);
  font-size: 14px;
  margin: 0;
  text-align: center;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 16px;
  color: black;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

/* Animated Underline begin Here */
.footer-distributed p.footer-links a {
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  position: relative;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(126, 120, 133);
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.footer-distributed p.footer-links a:hover::before {
  transform: scaleX(0.8); /* On hover, expand the underline */
}
/* Animated Underline end Here */

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right a {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-right: 5px;
  transition: all 0.25s;
}

/* SNACKBAR*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#asnackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 51%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#asnackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.head-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  z-index: 10; /* Adjust the z-index value as needed */
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 20%;
  margin-right: 10%;
  grid-gap: 10px;
  grid-template-areas: "head-grid-item1 head-grid-item2 head-grid-item3";
}

.head-grid-item1 {
  color: black;
  display: flex;
  align-items: center;
  grid-area: head-grid-item1;
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background-color: white;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      #000000 0%,
      /* Black */ #1a1a1a 12.5%,
      /* Dark Gray */ #333333 25%,
      /* Gray */ #4d4d4d 37.5%,
      /* Light Gray */ #666666 50%,
      /* Light Gray */ #808080 62.5%,
      /* Gray */ #999999 75%,
      /* Dark Gray */ #b3b3b3 87.5%,
      /* Light Gray */ #cccccc 100% /* Light Gray */
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.head-grid-item2 {
  grid-area: head-grid-item2;
}

.head-grid-item3 {
  grid-area: head-grid-item3;
}

.body-grid-container {
  display: grid;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  place-items: center;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 10px;
  grid-gap: 15px;
  grid-template-areas: "first second third";
}

.item {
  padding: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: auto;
  border-radius: 3px;
  position: relative;
  transition: transform 0.5s; /* Animation */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item:hover {
  transform: scale(1.04);
}

/* Styling for the cart button */
.cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative; /* Position the counter relative to the button */
}

/* Styling for the cart icon */
.cart-button i {
  color: #000; /* Default color for the cart icon */
}

/* Styling for the cart counter */
.cart-counter {
  background-color: red;
  color: white;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position the counter absolutely within the button */
  font-size: 0.8em;
  bottom: 0;
  right: 0;
  display: none; /* Initially hidden */
}

#cart {
  margin-right: 10px;
}

.buttons2 {
  height: 45px;
  width: auto;
  font-size: 25px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 5px;
  transition: transform 0.2s;
  background-color: Transparent;
  color: white;
  text-decoration: none;
}

.buybuttons {
  height: 3em;
  width: 8em;
  position: absolute;
  font-size: 1.3em;
  bottom: 10em;
  left: 5%;
  padding: 0.25em;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 5px;
  transition: transform 0.2s;
  background-color: Transparent;
  color: black;
  text-decoration: none;
}

.item img {
  width: 30%;
}

.buybuttons:hover {
  transform: scale(1.1);
}

#first {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

#second {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.buttons2:hover {
  transform: scale(1.1);
}

.item:nth-child(1) {
  grid-area: first;
}

.slide-from-left {
  animation: slideLeft 0.3s ease-in-out forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

.item:nth-child(2) {
  grid-area: second;
  text-align: center;
  align-self: center;
}

.item:nth-child(3) {
  grid-area: third;
}

.buttons {
  height: auto;
  width: auto;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item:nth-child(5) {
  background-color: #dee2e6;
  grid-area: fifth;
  cursor: pointer;
}

.nav-links a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}

.menu li:hover {
  background-color: var(--black-075);
  border-radius: 30px;
  transition: 0.3s ease;
}

.menu li {
  padding: 10px 14px;
}

/* DROPDOWN MENU */
.formations {
  position: relative;
}

.dropdown {
  background-color: white;
  padding: 0.5em 0;
  list-style: none;
  position: absolute;
  border: 2px solid black;
  display: none;
  border-radius: 20px;
  z-index: 1; /* Set a lower z-index to make the dropdown appear behind */
  top: 38px;
}

.dropdown li + li {
  margin-top: 5px;
}

.dropdown li {
  padding: 0.4em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--black-075);
}

.formations:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* RESPONSIVE NAVBAR MENU ENDS */

.diy-slideshow {
  height: 70%;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  position: relative;
  margin-left: auto;
  background-color: #dee2e6;
  right: 20px;
  margin-right: auto;
  display: block;
  overflow: hidden;
}

figure {
  position: absolute;
  height: 700px; /* Set the desired height */
  overflow: hidden; /* Clip the image if it's larger */
  opacity: 0;
}

figure img {
  position: absolute;
  width: 100%;
  height: 85%;
  left: 20%;
  margin: 30px;
  object-fit: scale-down;
}

.sales {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 85%;
  margin: 30px;
  object-fit: scale-down;
}

.desc2 {
  position: absolute;
  width: 25vw; /* 80% of the container width minus margins */
  left: 60px; /* Same as the image's left margin */
  bottom: 55%; /* Position at the bottom */
  padding: 10px; /* Add some padding for spacing */
  color: black;
  font-size: 25px;
}

figcaption a {
  color: #fff;
  font-size: large;
}

figure.show {
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next,
.prev {
  color: #fff;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -0.75em;
  opacity: 0.5;
  user-select: none;
}
.next:hover,
.prev:hover {
  cursor: pointer;
  opacity: 1;
}
.next {
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev {
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* Media Queries */

@media (max-width: 1200px) {
  .head-grid-container {
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  .desc2 {
    display: none;
  }

  .title2 {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2;
  }

  .buybuttons {
    width: 6em;
    font-size: 1.2em;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

  figure img {
    position: absolute;
    width: 100%;
    height: 65%; /* Adjust the height as needed */
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: 0 auto;
    object-fit: scale-down;
  }

  .buybuttons:hover {
    transform: translateX(-50%) scale(1.1);
  }
}

@media (max-width: 992px) {
  .body-grid-container {
    grid-template-columns: 20% 20% 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

  figure img {
    position: absolute;
    width: 100%;
    height: 65%; /* Adjust the height as needed */
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: 0 auto;
    object-fit: scale-down;
  }

  .title2 {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2;
  }

  .buybuttons {
    width: 6em;
    font-size: 1.2em;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

  .buybuttons:hover {
    transform: translateX(-50%) scale(1.1);
  }
}

.sell-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between; /* Space between cards, change as needed */
  max-width: 60%; /* Ensure the container doesn't overflow */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Optional padding for spacing */
}

.product-card {
  width: calc(
    33.33% - 10px
  ); /* Calculate card width for three cards in a row with spacing */
  background-color: #fff;
  transition: transform 0.2s;
  padding: 1em;
  box-shadow: 0 5px 5px #e1e1e1;
  margin-bottom: 20px;
  display: flex; /* Use flexbox to arrange children */
  flex-direction: column; /* Stack children vertically */
}
.product-card img {
  max-width: 100%;
}
.product-card div {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
.product-card div h4 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: auto; /* Push the div to the bottom of the card */
}

.product-card span {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  font-size: 1.3em;
  margin-top: auto; /* Push the div to the bottom of the card */
}

.product-card div {
  font-size: 1.2em;
  display: flex;
  margin-top: auto; /* Push the div to the bottom of the card */
}
.product-card button {
  display: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  left: 65%;
  bottom: 0;
  margin-bottom: 10%;
  position: absolute;
  border: none;
  border-radius: 5px;
  width: 6vw;
  margin-left: auto;
  margin-top: auto; /* Push the div to the bottom of the card */
  height: 2em;
  font-size: 1em;
}
.product-card:hover {
  transform: translateX(-1%) scale(1.01);
  background-color: #dee2e6;
  color: black;
}
.product-card:hover button {
  color: white;
  background-color: black;
}
@media screen and (max-width: 576px) {
  .product-card {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .head-grid-container {
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  .body-grid-container {
    grid-template-columns: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .title {
    font-size: 28px;
  }

  .desc {
    font-size: 20px;
  }

  .title2 {
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2;
  }

  figure img {
    position: absolute;
    width: 100%;
    height: 65%; /* Adjust the height as needed */
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    margin: 0 auto;
    object-fit: scale-down;
  }

  .footer-distributed {
    width: 85%;
    padding: 20px 25px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .menu {
    width: 50px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid black;
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: var(--black-075);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 0; /* Position dropdown from the left side */
    right: auto; /* Reset right */
    top: 30px;
    transform: translateX(-100%); /* Move the dropdown to the left */
  }

  .dropdown li:hover {
    background-color: white;
  }

  .diy-slideshow {
    right: 0;
    width: 100%; /* Adjust as needed */
  }

  .buybuttons:hover {
    transform: translateX(-50%) scale(1.1);
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .desc {
    font-size: 18px;
  }

  .title2 {
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2; /* Increase the line height for two lines of text */
  }

  .nav-links a {
    font-size: 16px;
  }

  .menu {
    width: 80px;
    z-index: 1;
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .dropdown li {
    padding: 0.3em 0.5em;
    width: 6em;
  }

  .footer-distributed {
    width: 100%;
    padding: 15px 20px;
  }

  .buybuttons {
    width: 6em;
    font-size: 1.2em;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

  .fade-in-out {
    opacity: 0;
    animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards;
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
